## Introduction to Pandas

#### 1. Reading a csv file

In [1]:
# Check the current working directory
import os
os.getcwd()

'/Users/skywalker/Desktop/Praxis/ML'

In [5]:
# Set the working directory
os.chdir("/Users/skywalker/Downloads")

#Read the cars.csv data
import pandas as pd
cars= pd.read_csv("cars.csv")
cars

,Car,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model,Origin
0,Chevrolet Chevelle Malibu,18.0,8,307.0,130,3504,12.0,70,US
1,Buick Skylark 320,15.0,8,350.0,165,3693,11.5,70,US
2,Plymouth Satellite,18.0,8,318.0,150,3436,11.0,70,US
3,AMC Rebel SST,16.0,8,304.0,150,3433,12.0,70,US
4,Ford Torino,17.0,8,302.0,140,3449,10.5,70,US
5,Ford Galaxie 500,15.0,8,429.0,198,4341,10.0,70,US
6,Chevrolet Impala,14.0,8,454.0,220,4354,9.0,70,US
7,Plymouth Fury iii,14.0,8,440.0,215,4312,8.5,70,US
8,Pontiac Catalina,14.0,8,455.0,225,4425,10.0,70,US
9,AMC Ambassador DPL,15.0,8,390.0,190,3850,8.5,70,US
10,Citroen DS-21 Pallas,0.0,4,133.0,115,3090,17.5,70,Europe
11,Chevrolet Chevelle Concours (sw),0.0,8,350.0,165,4142,11.5,70,US
12,Ford Torino (sw),0.0,8,351.0,153,4034,11.0,70,US
13,Plymouth Satellite (sw),0.0,8,383.0,175,4166,10.5,70,US
14,AMC Rebel SST (sw),0.0,8,360.0,175,3850,11.0,70,US
15,Dodge Challenger SE,15.0,8,383.0,170,3563,10.0,70,US
16,Plymouth 'Cuda 340,14.0,8,340.0,160,3609,8.0,70,US
17,Ford Mustang Boss 302,0.0,8,302.0,140,3353,8.0,70,US
18,Chevrolet Monte Carlo,15.0,8,400.0,150,3761,9.5,70,US
19,Buick Estate Wagon (sw),14.0,8,455.0,225,3086,10.0,70,US
20,Toyota Corolla Mark ii,24.0,4,113.0,95,2372,15.0,70,Japan
21,Plymouth Duster,22.0,6,198.0,95,2833,15.5,70,US
22,AMC Hornet,18.0,6,199.0,97,2774,15.5,70,US
23,Ford Maverick,21.0,6,200.0,85,2587,16.0,70,US
24,Datsun PL510,27.0,4,97.0,88,2130,14.5,70,Japan
25,Volkswagen 1131 Deluxe Sedan,26.0,4,97.0,46,1835,20.5,70,Europe
26,Peugeot 504,25.0,4,110.0,87,2672,17.5,70,Europe
27,Audi 100 LS,24.0,4,107.0,90,2430,14.5,70,Europe
28,Saab 99e,25.0,4,104.0,95,2375,17.5,70,Europe
29,BMW 2002,26.0,4,121.0,113,2234,12.5,70,Europe
...,...,...,...,...,...,...,...,...,...
376,Chevrolet Cavalier Wagon,27.0,4,112.0,88,2640,18.6,82,US
377,Chevrolet Cavalier 2-door,34.0,4,112.0,88,2395,18.0,82,US
378,Pontiac J2000 SE Hatchback,31.0,4,112.0,85,2575,16.2,82,US
379,Dodge Aries SE,29.0,4,135.0,84,2525,16.0,82,US
380,Pontiac Phoenix,27.0,4,151.0,90,2735,18.0,82,US
381,Ford Fairmont Futura,24.0,4,140.0,92,2865,16.4,82,US
382,AMC Concord DL,23.0,4,151.0,0,3035,20.5,82,US
383,Volkswagen Rabbit l,36.0,4,105.0,74,1980,15.3,82,Europe
384,Mazda GLC Custom l,37.0,4,91.0,68,2025,18.2,82,Japan
385,Mazda GLC Custom,31.0,4,91.0,68,1970,17.6,82,Japan
386,Plymouth Horizon Miser,38.0,4,105.0,63,2125,14.7,82,US
387,Mercury Lynx l,36.0,4,98.0,70,2125,17.3,82,US
388,Nissan Stanza XE,36.0,4,120.0,88,2160,14.5,82,Japan
389,Honda Accord,36.0,4,107.0,75,2205,14.5,82,Japan
390,Toyota Corolla,34.0,4,108.0,70,2245,16.9,82,Japan
391,Honda Civic,38.0,4,91.0,67,1965,15.0,82,Japan
392,Honda Civic (auto),32.0,4,91.0,67,1965,15.7,82,Japan
393,Datsun 310 GX,38.0,4,91.0,67,1995,16.2,82,Japan
394,Buick Century Limited,25.0,6,181.0,110,2945,16.4,82,US
395,Oldsmobile Cutlass Ciera (diesel),38.0,6,262.0,85,3015,17.0,82,US
396,Chrysler Lebaron Medallion,26.0,4,156.0,92,2585,14.5,82,US
397,Ford Grenada l,22.0,6,232.0,112,2835,14.7,82,US
398,Toyota Celica GT,32.0,4,144.0,96,2665,13.9,82,Japan
399,Dodge Charger 2.2,36.0,4,135.0,84,2370,13.0,82,US
400,Chevrolet Camaro,27.0,4,151.0,90,2950,17.3,82,US
401,Ford Mustang GL,27.0,4,140.0,86,2790,15.6,82,US
402,Volkswagen Pickup,44.0,4,97.0,52,2130,24.6,82,Europe
403,Dodge Rampage,32.0,4,135.0,84,2295,11.6,82,US
404,Ford Ranger,28.0,4,120.0,79,2625,18.6,82,US
405,Chevy S-10,31.0,4,119.0,82,2720,19.4,82,US

#### 2. Some initial steps with data

In [4]:
#A. Check the dimension of the data set
cars.shape

(406, 9)

In [6]:
#B. Number of rows in the data set
cars.index

RangeIndex(start=0, stop=406, step=1)

In [7]:
len(cars)

406

In [9]:
cars.shape[0]

406

In [10]:
len(cars.index)

406

In [11]:
#C. Number of columns in the data set
cars.shape[1]

9

In [13]:
#OR
len(cars.columns)

9

In [14]:
#Studying the variable types
cars.dtypes

Car              object
MPG             float64
Cylinders         int64
Displacement    float64
Horsepower        int64
Weight            int64
Acceleration    float64
Model             int64
Origin           object
dtype: object

In [15]:
#D. Getting the variable names
cars.columns

Index(['Car', 'MPG', 'Cylinders', 'Displacement', 'Horsepower', 'Weight',
       'Acceleration', 'Model', 'Origin'],
      dtype='object')

In [16]:
#OR
list(cars)

['Car',
 'MPG',
 'Cylinders',
 'Displacement',
 'Horsepower',
 'Weight',
 'Acceleration',
 'Model',
 'Origin']

In [17]:
#E. Printing the first 5 lines of the data set
cars.head()

,Car,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model,Origin
0,Chevrolet Chevelle Malibu,18.0,8,307.0,130,3504,12.0,70,US
1,Buick Skylark 320,15.0,8,350.0,165,3693,11.5,70,US
2,Plymouth Satellite,18.0,8,318.0,150,3436,11.0,70,US
3,AMC Rebel SST,16.0,8,304.0,150,3433,12.0,70,US
4,Ford Torino,17.0,8,302.0,140,3449,10.5,70,US

In [18]:
#F. Printing the first 10 lines of the data set
cars.head(10)

,Car,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model,Origin
0,Chevrolet Chevelle Malibu,18.0,8,307.0,130,3504,12.0,70,US
1,Buick Skylark 320,15.0,8,350.0,165,3693,11.5,70,US
2,Plymouth Satellite,18.0,8,318.0,150,3436,11.0,70,US
3,AMC Rebel SST,16.0,8,304.0,150,3433,12.0,70,US
4,Ford Torino,17.0,8,302.0,140,3449,10.5,70,US
5,Ford Galaxie 500,15.0,8,429.0,198,4341,10.0,70,US
6,Chevrolet Impala,14.0,8,454.0,220,4354,9.0,70,US
7,Plymouth Fury iii,14.0,8,440.0,215,4312,8.5,70,US
8,Pontiac Catalina,14.0,8,455.0,225,4425,10.0,70,US
9,AMC Ambassador DPL,15.0,8,390.0,190,3850,8.5,70,US

In [20]:
#G. Printing the last 5 lines of the data set
cars.tail(2)

,Car,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model,Origin
404,Ford Ranger,28.0,4,120.0,79,2625,18.6,82,US
405,Chevy S-10,31.0,4,119.0,82,2720,19.4,82,US

In [ ]:
#H. Printing the entire data

#### 3. Choosing a single variable

In [21]:
#Method1 - Use Square brackets
cars["Horsepower"].head()

0    130
1    165
2    150
3    150
4    140
Name: Horsepower, dtype: int64

In [22]:
#Method2 - Use dot (.)
cars.Cylinders.tail()

401    4
402    4
403    4
404    4
405    4
Name: Cylinders, dtype: int64

#### 4. Some Basic Statistical Functions

In [24]:
#sum
cars.MPG.sum()

9358.800000000003

In [26]:
#mean
cars.MPG.mean()

23.051231527093602

In [27]:
#median
cars.MPG.median()

22.35

In [28]:
#standard deviation
cars.MPG.std()

8.40177735227059

In [29]:
#variance
cars.MPG.var()

70.58986267712702

In [30]:
#minimum
cars.MPG.min()

0.0

In [31]:
#Maximum
cars.MPG.max()

46.600000000000001

In [33]:
#25th quantile
cars.MPG.quantile(0.25)

17.0

In [34]:
#90th quantile
cars.MPG.quantile(0.90)

34.25

In [35]:
#90th, 95th and 99th percentile
cars.MPG.quantile([0.90,0.95,0.99])

0.90    34.250
0.95    37.000
0.99    43.385
Name: MPG, dtype: float64

In [36]:
#Inter-quartile range
cars.MPG.quantile(0.75)-cars.MPG.quantile(0.25)

12.0

In [52]:
#OR create a function
def IQR(x):
    try:
        y= x.quantile(0.75)-x.quantile(0.25)
        return y
    except:
        print("please enter a valid shit! ")

In [53]:
IQR(cars.Horsepower)

54.0

In [48]:
#describe
cars.describe()

,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model
count,406.000000,406.000000,406.000000,406.000000,406.000000,406.000000,406.000000
mean,23.051232,5.475369,194.779557,103.529557,2979.413793,15.519704,75.921182
std,8.401777,1.712160,104.922458,40.520659,847.004328,2.803359,3.748737
min,0.000000,3.000000,68.000000,0.000000,1613.000000,8.000000,70.000000
25%,17.000000,4.000000,105.000000,75.000000,2226.500000,13.700000,73.000000
50%,22.350000,4.000000,151.000000,93.500000,2822.500000,15.500000,76.000000
75%,29.000000,8.000000,302.000000,129.000000,3618.250000,17.175000,79.000000
max,46.600000,8.000000,455.000000,230.000000,5140.000000,24.800000,82.000000

### Some Functions and their Descriptions

    Function	Description
---------------------------------------------
       count	Number of non-null observations
         sum	Sum of values
        mean	Mean of values
         mad	Mean absolute deviation
      median	Arithmetic median of values
         min	Minimum
         max	Maximum
        mode	Mode
         abs	Absolute Value
        prod	Product of values
         std	Unbiased standard deviation
         var	Unbiased variance
         sem	Unbiased standard error of the mean
        skew	Unbiased skewness (3rd moment)
        kurt	Unbiased kurtosis (4th moment)
    quantile	Sample quantile (value at %)
      cumsum	Cumulative sum
     cumprod	Cumulative product
      cummax	Cumulative maximum
      cummin	Cumulative minimum