### String is a Sequence of Characters

In [5]:
string = 'pineapple'

### A. Extractng the letters of the string

In [19]:
string[0]
string[1]

'i'

### B. Extracting the last letter

In [7]:
#length of the string
len(string)

9

In [9]:
string[len(string)-1]

'e'

### C. Slicing Strings

In [10]:
string[1:4] #1 is included while 4 is not included

'ine'

In [11]:
string[2:]

'neapple'

In [28]:
string[:4] #Note the 4th index isn't included

'pine'

In [16]:
#string[:]
print(string)

pineapple

In [29]:
string[-1]

'e'

In [30]:
string[:-2]

'pineapp'

In [32]:
string[-4:]

'pple'

In [37]:
string[:-0]

''

In [40]:
string[:-0]

''

### Exercise
**Let's transverse a string:**

Transversal of the following string

    pineapple

will be:
    
    p
    i
    n
    e
    a
    p
    p
    l
    e

Perform this task using (a) while loop and (b) for loop

In [5]:
string = 'pineapple'
for i in range(0, len(string)):
    print(string[i])

p
i
n
e
a
p
p
l
e

In [6]:
for i in string:
    print(i)

p
i
n
e
a
p
p
l
e

In [7]:
string[1]

'i'

** Exercise: **

Write a while loop that starts at the last character in the string and works its way backwards to the first character in the string, printing each letter on a separate line, except backwards

In [8]:
count=len(string)-1
for i in string:
    print(string[count])
    count-=1

e
l
p
p
a
e
n
i
p

### C. String Operations

In [9]:
str1 = "I love"
str2 = "programming"

In [10]:
str3=str1+str2

In [11]:
str3

'I loveprogramming'

In [13]:
str2[1]

'r'

In [15]:
str4=str2[1]

In [16]:
str4

'r'

In [17]:
str4=str4+str2[1]

In [18]:
str4

'rr'

### D. Strings are Immutable

In [43]:
greeting = "Hello world"

In [44]:
greeting[2]

'l'

In [46]:
greeting[2] = 'L'

TypeError: 'str' object does not support item assignment

In [48]:
greeting=greeting[:2]+"L"+greeting[3:]

In [49]:
greeting

'HeLlo world'

** Note the error: **
It says: string item does not support item assignment!

** Exercise: **
Is there any other way how you can solve the above problem? (i.e. replacing the 3rd letter of the string by 'L')

In [ ]:
greeting = "Hello World"

### E. The in Operator

In [50]:
'a' in 'banana'

True

In [51]:
'na' in 'banana'

True

In [52]:
'band' in 'banana'

False

In [53]:
'bn' in 'banana'

False

### F. String Comparison

    word == string  => 'exact match'
    word <  string  => 'the word comes before string, alphabetically'
    word >  string  => 'the word comes after the string, alhabetically

In [2]:
'band' < 'bandage'

True

In [3]:
'apple' > 'ball' #words with capital letters get sorted first

False

In [4]:
'a'<'b'

True

In [60]:
'age'<'bandage'

True

In [61]:
'banana' == 'banana'

True

### G. String Methods

In [2]:
my_string = 'Hello World'

In [63]:
type(my_string) #my_string is an object

str

In [64]:
dir(my_string) #Gives the list of methods

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [3]:
#capitalize
help(my_string.capitalize)
help(my_string.replace)

Help on built-in function capitalize:

capitalize(...) method of builtins.str instance
    S.capitalize() -> str

    Return a capitalized version of S, i.e. make the first character
    have upper case and the rest lower case.

Help on built-in function replace:

replace(...) method of builtins.str instance
    S.replace(old, new[, count]) -> str

    Return a copy of S with all occurrences of substring
    old replaced by new.  If the optional argument count is
    given, only the first count occurrences are replaced.

In [72]:
my_string.capitalize()

'Hello world'

In [73]:
my_string.casefold()

'hello world'

** upper **

In [77]:
my_string.upper()

'HELLO WORLD'

In [78]:
my_string.lower()

'hello world'

** find**

In [79]:
my_string.find("l")

2

In [80]:
my_string.find("l",4)

9

In [81]:
my_string.find('L')

-1

** strip **

In [82]:
line = '   Have a pleasant day   '

In [83]:
#rstrip
line.rstrip()

'   Have a pleasant day'

In [84]:
#lstrip
line.lstrip()

'Have a pleasant day   '

In [85]:
#strip
line.strip()

'Have a pleasant day'

** startswith **

In [86]:
line = 'Please have a nice day'

In [87]:
line.startswith('P') #returns a boolean value

True

In [88]:
line.startswith('p') #Case sensitive

False

** Docomentation of string methods **

Learn more at: https://docs.python.org/2.4/lib/string-methods.html

### H. Parsing String

Finding a substring within a string

*For example, if we were presented a series of lines formatted as follows:*

    From stephen.marquard@uct.ac.za Sat Jan 5 09:14:16 2008

*and we wanted to pull out only the second half of the address (i.e., uct.ac.za)*

In [91]:
line = "From stephen.marquard@uct.ac.za Sat Jan 5 09:14:16 2008"

In [92]:
line.find("@")

21

In [93]:
line

'From stephen.marquard@uct.ac.za Sat Jan 5 09:14:16 2008'

In [95]:
line.find(" ",line.find("@"))

31

In [97]:
line[line.find("@")+1:line.find(" ",line.find("@"))]

'uct.ac.za'

### I. Format Operator

The format operator, % allows us to construct strings, replacing parts of the strings with the data stored in variables. When applied to integers, % is the modulus operator. But when the first operand is a string, % is the format operator.

    %d --> integer format
    %g --> float format
    %s --> string format

In [98]:
for i in range(1,5):
    input("Enter observation %d " %i)
    
print("All your %d observations are entered" %i)

Enter observation 1 0
Enter observation 2 0
Enter observation 3 0
Enter observation 4 0
All your 4 observations are entered

In [102]:
"The average score of %s has almost increased by %g percent since %d" %('cricket', 23.56, 20.12)

'The average score of cricket has almost increased by 23.56 percent since 20'

In [100]:
abc = "something"

print("%s says hello" %abc)

something says hello

### J. Some Exercises:

*  Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '$', except the first char itself. Go to the editor 

        Sample String : 'restart'
        Expected Result : 'resta$t'

In [1]:
bum=str(input("Enter the string here: "))
x=len(bum)
str2=""
b=0
for i in range(0,x):
    for j in range(0,i):
        if bum[j]==bum[i]:
            str2=str2+"$"
            b=b+1
            break
            
    if b==0:
        str2=str2+bum[i]
    else:
        b=b-1
print(str2)
#for i in range(1,x):
#    str3[i]=str3[i]+str2[x-i]
for k in range(0,0):
    print("!")

Enter the string here: pineapple
pinea$$l$

* Write a Python program to add 'ing' at the end of a given string (length should be at least 3). If the given string already ends with 'ing' then add 'ly' instead. If the string length of the given string is less than 3, leave it unchanged. Go to the editor 
        Sample String : 'abc'
        Expected Result : 'abcing' 
        Sample String : 'string'
        Expected Result : 'stringly'

* Create a function that will find a substring in a given string. In other word create a function that is similar to the find method.

 Take the following Python code that stores a string:â€˜
       
           string = 'X-DSPAM-Confidence: 0.8475'

    Extract the portion of the string after the colon character and then use the float function to convert the extracted string into a floating point number.